
* {
	box-sizing: border-box;
}
body {
  background-image: url('img/fondo3.jpg');
}

div#container {
	width: 800px;
	position: relative;
	margin: 0px auto;
}
div#mustang {
	margin: 20px auto;
	width: 600px;
	position: relative;
}

div.coche img {
	width: 600px;
	position: absolute;

}

div.flechas {
	width: 80px;
	panding-top: 25%;
}

div.flechas img {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

div#derecha {
	position: absolute;
	right: 0px;
	top: 150px;
}

div#izquierda {
	position: absolute;
	left: 0px;
	top: 150px;
}

h1 {
	text-align: center;
	color: white;
}
